@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,600;1,700&display=swap');

body {

    background-color: #474F7A;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-family: 'Work Sans';
    padding: 20px;
    text-align: center;
    color: #fff;
}

.div-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sin-decoration{
    font-family: 'Righteous';
    padding: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

table {
    height: 40%;
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 100px;
}

th, td {
    border: 4px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

button {
    font-family: 'Righteous';
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#submit {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#redirectButton {
    background-color: #008CBA;
    color: white;
    border: none;
}